[submodule "public"]
	path = public
	url = git@github.com:0xttfx/0xttfx.github.io
	branch = master
[submodule "themes/hello-4s3ti"]
	path = themes/hello-4s3ti
	url = https://github.com/4s3ti/hugo-theme-hello-4s3ti.git
[submodule "themes/terminalcv"]
	path = themes/terminalcv
	url = https://github.com/coolapso/hugo-theme-terminalcv.git
[submodule "themes/blowfish"]
	path = themes/blowfish
	url = https://github.com/nunocoracao/blowfish.git
	branch = main
[submodule "themes/hugo-flex"]
	path = themes/hugo-flex
	url = https://github.com/ldeso/hugo-flex.git
[submodule "themes/FixIt"]
	path = themes/FixIt
	url = https://github.com/hugo-fixit/FixIt.git
